In [127]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_csv("collected research people.csv")

In [129]:
df.head()

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [130]:
#remoção de coluna desnecessária
df.drop(columns=['Unnamed: 0'], inplace=True)

In [131]:
df.columns

Index(['Nome', 'Endereerço', 'Cidade', 'Estado', 'phone', 'anual_income',
       'Estado Civil', 'AAge', 'n_filhos', 'Moradia', 'Food_restrictions',
       'streaming', 'diariamente_sun blocker', 'Vai na Praia Mensalmente',
       'Faz Academia', 'Compra e Lê Livros Todos os Anos',
       'Quantidade de Livros Comprados', 'Autor Favorito', 'email'],
      dtype='object')

In [132]:
#criação de dicionário para renomear as colunas
novas_colunas = {'Endereerço':'Endereço',
                 'phone':'Telefone',
                 'anual_income':'Renda Anual',
                 'AAge':'Idade',
                 'n_filhos':'Filhos',
                 'Food_restrictions':'Restrição Alimentar',
                 'streaming':'Streaming', 
                 'diariamente_sun blocker':'Usa protetor solar', }

df.rename(columns=novas_colunas,inplace=True)

In [133]:
#estudo da coluna de 'Nome'
df['Nome']

0            Maria Clara Novaes
1           Davi Lucca Pereira>
2             Sr. Caio Caldeira
3               Kaique Azevedo%
4                 Pedro Moreira
5         Sra. Ana Júlia Castro
6                Erick Carvalho
7        Sra. Ana Sophia Vieira
8              Dav4i Nascimento
9                 Juan da Mota<
10               Stephany Pinto
11                Joana Rezende
12         Dra. Letícia Ribeiro
13              Beatriz Azevedo
14               André Monteiro
15        João Guilherme Porto^
16               Augusto_ Rocha
17      Srta. Isabelly da Rocha
18              Heloísa Santos>
19              Calebe Azevedo.
20                   _Ana Alves
21      Maria Fernanda Ribeiro=
22                 Samuel Jesus
23               Beatriz Ramos?
24               Dr. Davi Cunha
25            Enrico Cavalcanti
26                /Raquel Moura
27               Lorena Cardoso
28              Diogo Caldeira#
29              Maria Gonçalves
30              Isadora Cardoso
31               Igor Ferreira'
32               Sabrina Nunes}
33           Pedro Miguel Silva
34    Dra. Clarice da Conceição
35            Daniel Rodrigues'
36                   Isis Silva
Name: Nome, dtype: object

O parâmetro regex=True no método replace indica que os valores a serem substituídos devem ser tratados como expressões regulares (regex) em vez de literais de texto. Isso permite realizar substituições mais complexas e poderosas.

In [134]:
#str = manipulação de string linha por linha
#O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_].
df['Nome'] = df['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0-9 ]','',regex=True)
df['Nome']

0           Maria Clara Novaes
1           Davi Lucca Pereira
2             Sr Caio Caldeira
3               Kaique Azevedo
4                Pedro Moreira
5         Sra Ana Júlia Castro
6               Erick Carvalho
7        Sra Ana Sophia Vieira
8             Dav4i Nascimento
9                 Juan da Mota
10              Stephany Pinto
11               Joana Rezende
12         Dra Letícia Ribeiro
13             Beatriz Azevedo
14              André Monteiro
15        João Guilherme Porto
16               Augusto Rocha
17      Srta Isabelly da Rocha
18              Heloísa Santos
19              Calebe Azevedo
20                   Ana Alves
21      Maria Fernanda Ribeiro
22                Samuel Jesus
23               Beatriz Ramos
24               Dr Davi Cunha
25           Enrico Cavalcanti
26                Raquel Moura
27              Lorena Cardoso
28              Diogo Caldeira
29             Maria Gonçalves
30             Isadora Cardoso
31               Igor Ferreira
32               Sabrina Nunes
33          Pedro Miguel Silva
34    Dra Clarice da Conceição
35            Daniel Rodrigues
36                  Isis Silva
Name: Nome, dtype: object

In [135]:
#estudo da coluna de telefone, substiuição dos caracteres especiais
df['Telefone'] = df['Telefone'].str.replace('[^0-9()+]','',regex=True)

In [136]:
#loalizar os que foram substituido por asteriscos (não validos), e os vazios
df.loc[df['Telefone'].str.contains('[*]',na=False), 'Telefone'] = np.nan #atribuito do numpy para localizar not a number

In [137]:
df['Telefone']

0        (011)39085991
1                  NaN
2                  NaN
3                  NaN
4                   08
5     +55(084)45912403
6           8496875023
7                   57
8        +555168683666
9                  NaN
10                 NaN
11         09000939760
12                 NaN
13          8128917504
14                5278
15                 NaN
16          4155048546
17          8423191532
18         08006126032
19                 NaN
20          5158825998
21                 NaN
22                  )5
23    +55(021)47199862
24       (084)03056725
25       (011)34105199
26                 NaN
27          8460145325
28                 NaN
29       +557170888329
30                 NaN
31          2107126859
32       +555122135603
33                  89
34       +555182452336
35       (061)50023548
36               2938(
Name: Telefone, dtype: object

In [138]:
#dicionário para renomear valores em coluna específica
estado_civil = {'S':'Solteiro',
                'V':'Viúvo',
                'C':'Casado',
                'D':'Divorciado'}

df['Estado Civil'] = df['Estado Civil'].replace(estado_civil)
df['Estado Civil']

0            NaN
1            NaN
2       Solteiro
3         Casado
4         Casado
5       Solteiro
6     Divorciado
7            NaN
8     Divorciado
9     Divorciado
10           NaN
11    Divorciado
12        Casado
13      Solteiro
14           NaN
15      Solteiro
16           NaN
17      Solteiro
18         Viúvo
19      Solteiro
20    Divorciado
21         Viúvo
22         Viúvo
23           NaN
24         Viúvo
25      Solteiro
26         Viúvo
27    Divorciado
28        Casado
29           NaN
30           NaN
31    Divorciado
32           NaN
33           NaN
34    Divorciado
35    Divorciado
36           NaN
Name: Estado Civil, dtype: object

In [139]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,Filhos,Moradia,Restrição Alimentar,Streaming,Usa protetor solar,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011)39085991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,08,53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

<b>Cenário 1:</b> A empresa Carri Construtora contratou a empresa que você trabalha para
encontrar possíveis compradores para o seus novos empreendimentos. A empresa quer entender as necessidades dos clientes, e quer informações como:

<b>1.</b> Quais clientes devemos abordar?

In [140]:
#eliminação das colunas que não iremos utilizar na abordagem
drop_carri = ['Restrição Alimentar',
              'Streaming',
              'Usa protetor solar',
              'Quantidade de Livros Comprados',
              'Autor Favorito']

df_carri = df.drop(columns=drop_carri)
df_carri.head(3)

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011)39085991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,Não,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,Sim,srcaiocaldeira626@gemeil.com

<b>2.</b> Qual empreendimento nós devemos mostrá-los?

<b>3.</b> Esse cliente está em busca de investir em um imóvel ou comprar para moradia?

In [153]:
df['Moradia'].value_counts()

Moradia
Quitada          11
De favor          6
Aluguel           6
Financiamento     5
Name: count, dtype: int64

In [163]:
i = ['Quitada','Financiamento']
c = ['De favor', 'Aluguel']
investimento = np.where(df_carri['Moradia'].isin(i),'Não quer investir','Quer investir')
compra = np.where(df_carri['Moradia'].isin(c),'Quer comprar','Não quer comprar')

df_carri['Investimento de imóvel'] = investimento
df_carri['Compra de imóvel'] = compra
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,email,Minha Casa Minha Vida,Investimento,Investimento de imóvel,Compra de imóvel
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011)39085991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,NaN,mariaclaranovaes285@gemeil.com,Pode participar,Sim,Não quer investir,Não quer comprar
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,Não,daviluccapereira933@exemplo.com,Pode participar,Não,Quer investir,Quer comprar
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,Sim,srcaiocaldeira626@gemeil.com,Não pode participar,Sim,Não quer investir,Não quer comprar
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,Sim,kaiqueazevedo731@rotmail.com,Pode participar,Sim,Não quer investir,Não quer comprar
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,08,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,Sim,pedromoreira622@gemeil.com,Pode participar,Sim,Não quer investir,Não quer comprar

<b>4.</b> Se renda anual > 104 = pode participar do Minha casa minha vida.

In [142]:
#verificação dos valores estatísticos
df_carri.describe()

        Renda Anual      Idade     Filhos
count     25.000000  30.000000  22.000000
mean   67570.640000  44.633333   2.909091
std    20917.823198  16.356973   1.600866
min    22826.000000  18.000000   0.000000
25%    53295.000000  30.250000   2.000000
50%    71448.000000  42.500000   3.000000
75%    86445.000000  60.000000   4.000000
max    95433.000000  78.000000   5.000000

In [154]:
#criação de coluna para calculo de renda 
mcmv = np.where(df_carri['Renda Anual'] > 10400,'Pode participar','Não pode participar')

df_carri['Minha Casa Minha Vida'] = mcmv
df_carri['Minha Casa Minha Vida']
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,email,Minha Casa Minha Vida
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011)39085991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,NaN,mariaclaranovaes285@gemeil.com,Pode participar
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,Não,daviluccapereira933@exemplo.com,Pode participar
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,Sim,srcaiocaldeira626@gemeil.com,Não pode participar
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,Sim,kaiqueazevedo731@rotmail.com,Pode participar
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,08,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,Sim,pedromoreira622@gemeil.com,Pode participar

<b>Cenário 2:</b> Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de investimento. Eles podem fazer análise de machine learning também com esses dados.

In [165]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'Filhos', 'Moradia', 'Restrição Alimentar',
       'Streaming', 'Usa protetor solar', 'Vai na Praia Mensalmente',
       'Faz Academia', 'Compra e Lê Livros Todos os Anos',
       'Quantidade de Livros Comprados', 'Autor Favorito', 'email'],
      dtype='object')

In [167]:
df_hillo = df.drop(columns=['Moradia','Restrição Alimentar','Usa protetor solar','Vai na Praia Mensalmente','Faz Academia'])
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,Filhos,Streaming,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011)39085991,86445.0,NaN,43.0,NaN,Globo Play,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,Todos,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,NaN,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,08,53295.0,Casado,60.0,5.0,Globo Play,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [172]:
#verifcação de valores categóricos com separados, ajeitar os valores duplicados
df_hillo['Streaming'].str.get_dummies(sep=' e ')

    Crunchyroll  Disney  Disney Plus  Globo Play  HBO  Nenhum  Netflix  Todos
0             0       0            0           1    0       0        0      0
1             0       0            0           0    0       0        0      1
2             0       0            0           0    0       0        0      0
3             0       0            0           0    0       0        0      0
4             0       0            0           1    0       0        0      0
5             0       0            0           0    1       0        1      0
6             0       0            0           0    0       0        0      0
7             0       0            0           0    0       0        0      0
8             1       0            0           0    0       0        0      0
9             0       0            0           0    0       1        0      0
10            0       0            0           0    1       0        0      0
11            0       0            0           0    0       1        0      0
12            0       0            1           0    0       0        0      0
13            0       0            0           0    0       0        0      1
14            0       0            0           0    0       0        0      0
15            0       1            0           0    0       0        1      0
16            0       0            0           0    0       0        0      0
17            0       0            0           0    0       0        0      0
18            0       0            0           0    0       0        0      0
19            0       0            0           1    0       0        0      0
20            0       0            0           0    0       0        0      0
21            0       0            0           0    0       1        0      0
22            0       0            0           0    0       0        0      0
23            0       0            0           0    0       1        0      0
24            0       0            1           0    0       0        0      0
25            0       0            0           0    0       0        0      0
26            0       0            0           0    0       0        0      0
27            0       0            0           0    0       0        0      0
28            0       0            0           0    0       0        1      0
29            0       0            0           0    0       0        0      1
30            0       0            0           1    0       0        0      0
31            0       0            0           0    1       0        0      0
32            0       0            0           0    1       0        0      0
33            0       0            0           0    0       0        0      0
34            0       0            0           0    0       0        0      0
35            0       0            0           1    0       0        0      0
36            1       0            0           0    0       0        0      0

<b>Cenário 3:</b> Uma influenciadora digital de bem estar gostaria de analisar possíveis
empreendimentos dentro de diferentes propostas que recebe. Essas propostas podem ser excludentes ou somatórias, ou seja, elas podem ser de empresas com o mesmo mercado (empresas concorrentes) ou empresas de mercados diferentes (não concorrentes). Exemplo: duas marcas diferentes de chá são concorrentes, mas uma marca de chá e uma marca de bolinhos não são concorrentes.

In [171]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'Filhos', 'Moradia', 'Restrição Alimentar',
       'Streaming', 'Usa protetor solar', 'Vai na Praia Mensalmente',
       'Faz Academia', 'Compra e Lê Livros Todos os Anos',
       'Quantidade de Livros Comprados', 'Autor Favorito', 'email'],
      dtype='object')